web/WEB-INF/wsdl/localhost_9999/WS_CRUD__Servidor/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Agregar" type="tns:Agregar"/>

<xs:element name="AgregarResponse" type="tns:AgregarResponse"/>

<xs:element name="Buscar" type="tns:Buscar"/>

<xs:element name="BuscarResponse" type="tns:BuscarResponse"/>

<xs:element name="Editar" type="tns:Editar"/>

<xs:element name="EditarResponse" type="tns:EditarResponse"/>

<xs:element name="Listar" type="tns:Listar"/>

<xs:element name="ListarResponse" type="tns:ListarResponse"/>

<xs:element name="Suprimir" type="tns:Suprimir"/>

<xs:element name="SuprimirResponse" type="tns:SuprimirResponse"/>

<xs:complexType name="Editar">
<xs:sequence>
<xs:element name="p1" type="xs:int"/>
<xs:element name="p2" type="xs:string" minOccurs="0"/>
<xs:element name="p3" type="xs:string" minOccurs="0"/>
<xs:element name="p4" type="xs:int"/>
<xs:element name="p5" type="xs:int"/>
<xs:element name="p6" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EditarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Buscar">
<xs:sequence>
<xs:element name="p1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuscarResponse">
<xs:sequence>
<xs:element name="return" type="tns:profesor" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="profesor">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="dni" type="xs:int"/>
<xs:element name="edad" type="xs:int"/>
<xs:element name="genero" type="xs:string" minOccurs="0"/>
<xs:element name="idProfesor" type="xs:int"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listar">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ListarResponse">
<xs:sequence>
<xs:element name="return" type="tns:profesor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Suprimir">
<xs:sequence>
<xs:element name="p1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SuprimirResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Agregar">
<xs:sequence>
<xs:element name="p1" type="xs:string" minOccurs="0"/>
<xs:element name="p2" type="xs:string" minOccurs="0"/>
<xs:element name="p3" type="xs:int"/>
<xs:element name="p4" type="xs:int"/>
<xs:element name="p5" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>