src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_9999/WS_CRUD__Servidor/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9999/WS_CRUD__Servidor/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="Buscar">
<part name="parameters" element="tns:Buscar"/>
</message>
<message name="BuscarResponse">
<part name="parameters" element="tns:BuscarResponse"/>
</message>
<message name="Suprimir">
<part name="parameters" element="tns:Suprimir"/>
</message>
<message name="SuprimirResponse">
<part name="parameters" element="tns:SuprimirResponse"/>
</message>
<message name="Listar">
<part name="parameters" element="tns:Listar"/>
</message>
<message name="ListarResponse">
<part name="parameters" element="tns:ListarResponse"/>
</message>
<message name="Agregar">
<part name="parameters" element="tns:Agregar"/>
</message>
<message name="AgregarResponse">
<part name="parameters" element="tns:AgregarResponse"/>
</message>
<message name="Editar">
<part name="parameters" element="tns:Editar"/>
</message>
<message name="EditarResponse">
<part name="parameters" element="tns:EditarResponse"/>
</message>
<portType name="Servicios">
<operation name="Buscar">
<input wsam:Action="http://ws/Servicios/BuscarRequest" message="tns:Buscar"/>
<output wsam:Action="http://ws/Servicios/BuscarResponse" message="tns:BuscarResponse"/>
</operation>
<operation name="Suprimir">
<input wsam:Action="http://ws/Servicios/SuprimirRequest" message="tns:Suprimir"/>
<output wsam:Action="http://ws/Servicios/SuprimirResponse" message="tns:SuprimirResponse"/>
</operation>
<operation name="Listar">
<input wsam:Action="http://ws/Servicios/ListarRequest" message="tns:Listar"/>
<output wsam:Action="http://ws/Servicios/ListarResponse" message="tns:ListarResponse"/>
</operation>
<operation name="Agregar">
<input wsam:Action="http://ws/Servicios/AgregarRequest" message="tns:Agregar"/>
<output wsam:Action="http://ws/Servicios/AgregarResponse" message="tns:AgregarResponse"/>
</operation>
<operation name="Editar">
<input wsam:Action="http://ws/Servicios/EditarRequest" message="tns:Editar"/>
<output wsam:Action="http://ws/Servicios/EditarResponse" message="tns:EditarResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Buscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Suprimir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Agregar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Editar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:9999/WS_CRUD__Servidor/Servicios"/>
</port>
</service>
</definitions>